.grievanceFiling{
    margin: 100px;
    border:2px solid black;
    z-index: -1;
    /* background-color: rgba(187, 234, 220, 0.648); */
}
.grievanceFiling h3{
    font-size: 30px;
}
.form {
    padding: 20px;
    gap:20px;
    display: flex;
    flex-direction: column;
    font-size:20px ;
    justify-content: space-between;
    margin-right:16px ;
}
.form input{
    /* background-color: rgba(187, 234, 220, 0.226); */
    margin-right:16px ;
    font-size: 18px;
    border: none;
    width: 800px;
    border-bottom: 1px solid black;
}
.rga input{
     width: 250px;
}
#breif, #resolution{
    height: 200px;
    width: 800px;
}
.btnSubmit{
    font-size: 20px;
 background-color: rgba(96, 89, 78, 0.7);
    height: 50px;
    width: 180px;
    align-items: center;
}
.applicationContainer {
    text-align: left;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .applicationContainer p:last-of-type {
    font-weight: bold;
    font-size: 18px;
    color: blue;
    text-align: center;
  }
  
@media (max-width: 1024px) {
    .grievanceFiling {
        margin: 50px;
    }

    .form input, #breif, #resolution {
        width: 100%;
        max-width: 700px;
    }
}

@media (max-width: 768px) {
    .grievanceFiling {
        margin: 30px;
    }

    .grievanceFiling h3 {
        font-size: 24px;
    }

    .form {
        font-size: 18px;
    }

    .form input, #breif, #resolution {
        width: 100%;
        max-width: 600px;
    }

    .rga input {
        width: 200px;
    }

    .btnSubmit {
        width: 150px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .grievanceFiling {
        margin: 20px;
    }

    .grievanceFiling h3 {
        font-size: 20px;
    }

    .form {
        font-size: 16px;
    }

    .form input, #breif, #resolution {
        width: 100%;
        max-width: 100%;
        font-size: 16px;
    }

    .rga input {
        width: 100%;
        max-width: 180px;
    }

    .btnSubmit {
        width: 100%;
        font-size: 16px;
        height: 45px;
    }
}
