*{
    margin: 0;
    padding: 0;
    
}

.loginBox {
    
    margin-top: 0px;
    background-image: url(../../images/nepal.jpg);
    display: flex;
    background-size: cover;
    background-repeat: none;
    align-items: center;
    z-index: -1;
    height: 684px;
}

.signLink{
    color: rgb(45, 104, 0);
    text-decoration: underline;
}
.signLink:hover{
  cursor: pointer;

}


.details {
    margin-top: 20px;
    margin-left: 190px;
    background-color: rgba(165, 170, 170, 0.674);
    padding: 80px;
    border-radius: 90px;
    height: 300px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details input {
    font-size: 15px;
    background-color: rgba(55, 16, 16, 0.275);
    padding: 5px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 5px solid black;
    border-radius: 50px;
    height: 20px;
    width: 290px;
}

input::placeholder {
    font-size: 14px;
    color: rgb(0, 0, 0);
    opacity: 1;
    /* Ensures the placeholder is fully visible */
}
.rem input{
    margin-left: 0px;
    width: 50px;
}
.rem {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.btnLogin {
    background-color: rgba(71, 50, 24, 0.275);
    margin-top: 50px;
    font-size: 19px;
    width: 120px;
}